

<!DOCTYPE html public "-//w3c//dtd html 4.01//en" "http://www.w3.org/tr/html4/strict.dtd">

<html style="height: 100%">
<head>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=Quicksand|EB+Garamond' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
</head>
 <div id="homebackground">
  <body style="height: 100%">

    <header class="navbar navbar-fixed-top navbar-inverse" style="background-color: transparent">
      <div class="container">
        <div class="navbar-left" id="logo">
        <%= link_to image_tag("logo.png", alt: "logo"),
            root_path %>
        </div>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Features",   features_path, :class => ('active' if current_page?(features_path)) %></li>
            <li><%= link_to "Log In", login_path, :class => ('active' if current_page?(login_path)) %></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <div id='overall'>
<% provide(:title, "") %>

<div class="center jumbotron">
  <%= image_tag("logo.png", :alt => "logo") %>
  <h2 class="homepage" style="color: #fff">
    Monitor and analyse legislative activity across Europe.
  </h2>
  
  <%= link_to "Get access now!", signup_path, class: "btn btn-lg btn-primary" %>
  
  <p id="homepage" style="color: #fff">Questions? <%= mail_to "kylebuttner@gmail.com", "Leave us a note!" %></p>
</div>

      <div class="container">
      <%= render "layouts/footer" %>
      </div>
      <%= render "layouts/google_analytics" %>
    </div>

  </body>
</div>
</html>

